.banner_swiper img{
	width: 100%;
}
.banner_swiper .banner_icon2{
	width: 346px;
}
.banner_swiper .banner_icon3{
	width: 239px;
}
/*选项卡*/
.tabbox{
	margin:0 auto;
	padding: 10px 0;
	min-width: 1200px;
	background: #F7FBF9;
}
.aboutSelect{
	position: relative;
	z-index: 1;
			margin: -54px 20% 0 20%;
			/*margin-bottom: 40px;*/
			/*padding: 60px 0 40px;*/
			font-size: 18px;
			text-align: center;
			box-sizing: border-box;
		}
		.aboutSelect li{
			cursor: pointer;
			width: 15%;
			margin: 0 9%;
			padding: 5px 0;
			font-size: 17px;
		}
		.active{
			background: #017F40;
			color: #fff;
			border-radius: 3px;
		}
		.aboutContent{
			display: none;
			margin: 0 auto;
			/*margin-bottom: 40px;*/
			/*width: 62%;*/
		}
.tabbox .content{
	margin: 0 auto;
	/*width: 60%;*/
	position: relative;
}
.company_info{
	margin: 0 auto;
	/*width: 60%;*/
}
.companyList{
	margin: 0 auto;
	width: 60%;
}
.tabbox .content>div{
	display:none;
}
.tabbox .content>div.active{
	display:block;
}
.line{
	margin: 38px auto 47px;
	width: 60%;
	height: 1px;
	background: #D8D8D8;
}

.kj_info h3{
	margin-bottom: 10px;
	font-size: 16px;
	color: #003E3A;
}
.kj_info p{
	text-indent: 2em;
	font-size: 14px;
	color: #658684;
	text-align: justify;
}
.other{
	margin: -27px auto 50px;
	width: 60%;
	text-indent: 2em;
    font-size: 14px;
    color: #658684;
    text-align: justify;
}
/*.swiper-container{
	top: 0;
}*/
.content .swiper-button-next img,.content .swiper-button-prev img{
	width: 20px;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
	right: 130px;
	left: auto;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
	left: 130px;
	right: auto;
}
.swiper-button-next, .swiper-button-prev{
	top: 30%;
	transform: translateY(-50%);
}
.swiper-slide img.infoImg{
	margin-right: 23px;
}
.infoImg{
	width: 48%;
}
.wl_info{
	width: 52%;
}
.tabbox .content .photos{
	position: relative;
	display: block;
	margin: 100px 0 60px;
	/*margin-left: -40%;*/
	/*width: 160%;*/
	height: 110px;
	background: #017F40;
}
.tabbox .content .photos img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 60%;
}
.custructor{
	display: block;
	margin: -30px auto 10px;
	width: 60%;
}

.wen_con{
	margin: -30px 0 0;
}
.wenhua{
	margin: 0 auto;
	width: 60%;
	align-items: center;
	background: #F1F1F1;
	overflow: hidden;
}
.culture{
	padding: 60px;
	color: #658684;
	width: 50%;
	/*height: 100%;*/
}
.culture h3{
	margin: 10px 0;
	font-size: 16px;
	/*font-weight: bold;*/
	line-height: 26px;
	color: #003E3A;
}
.culture p{
	font-size: 14px;
	letter-spacing: 1px;
}
.wenhua img{
	width: 50%;
}
.aboutContent{
	display: none;
}

@media screen and (max-width: 760px){
	.banner_swiper .banner_icon2{
		width: 176px;
	}
	.banner_swiper .banner_icon3{
		width: 120px;
	}

	.tabbox{
		min-width: 100%;
	}
	.tabbox ul{
		margin: -30px auto 0;
		/*padding-top: 15px;*/
		width: 90%;
	}
	.tabbox ul li{
		font-size: .29rem;
		height: 30px;
		flex-shrink: 0;
	}
	.aboutSelect li{
		width: 20%;
		margin: 0 6.65%;
	}
	.tabbox ul li{
		height: auto;
	}
	.line{
		width: 90%;
		margin: 20px auto 24px;
	}
	.other{
		margin-bottom: 20px;
		width: 90%;
		font-size: .26rem;
	}
	.companyList{
		width: 100%;
	}
	.companyList3{
		display: block !important;
	}
	.wl_info{
		width: 100%;
	}
	.company_info{
		width: 90%;
	}
	.swiper-slide img{
		width: 100%;
		margin-right: 0px;
		margin-bottom: 10px;
	}
	.kj_info h3{
		font-size: .28rem;
	}
	.kj_info p{
		font-size: .26rem;
	}
	.tabbox .content .photos{
		margin: 40px auto 40px;
		height: 60px;
	}
	.tabbox .content .photos img{
		width: 100%;
	}
	.custructor{
		margin-top: -25px;
		width: 90%;
	}
	.wenhua{
		/*margin-top: -25px;*/
		width: 100%;
	}
	.culture{
		margin-left: .2rem;
		padding: 0;
	}
	.culture h3{
		margin: 5px 0;
		font-size: .26rem;
		line-height: .30rem;
	}
	.culture p{
		font-size: .24rem;
	}
}
