/*轮播*/
.banner_swiper img{
	width: 100%;
}
.banner_swiper .banner_icon2{
	width: 346px;
}
.banner_swiper .banner_icon3{
	width: 150px;
}
/*搜索*/
div.search{
	position: absolute;
	bottom: 27px;
	left: 50%;
	z-index: 1;
	transform: translate(-50%);
	margin: 0 auto;
	padding: 10px 15px 12px;
	width: 40%;
	background: rgba(0,51,30,0.7);
	border-radius: 10px;
}
.newsSearch{
	color: #fff;
	font-size: 12px;
	vertical-align: middle;
}
img.icon1{
	margin-right: 3px;
	width: 12px;

	/*height: 2px;*/
}
img.search{
	margin-top: -2px;
	width: 7%;
	cursor: pointer;
}
.input{
	margin-top: 6px;
}
.input input{
	padding: 7px 12px;
	width: 92%;
	font-size: 13px;
	/*line-height: 30px;*/
	border-radius: 4px;
	border: none;
}
input::-webkit-input-placeholder{
	font-size: 11px;
	color: #A7A7A7;
}
/*选项卡*/
.tabbox{
	margin: 0 auto;
	min-width: 1200px;
	background: #F7FBF9;
}
.tabbox ul.title{
	margin: 0 auto 0;
	list-style:none;
	width: 60%;
}
.tabbox ul.title li{
	width:100px;
	width: 130px;
	height: 40px;
	line-height: 38px;
	text-align: center;
	cursor:pointer;
	border-radius: 3px;
	letter-spacing: 1px;
	font-size: 17px;
	color: #003E3A;
}
.tabbox ul.newsSelect li.active{
	background-color:#017F40;
	color:white;
	border-radius: 3px;
}
.tabbox .con{
	margin: -27px auto 0;
	padding: 0;
	width: 60%;
	/*height: auto;*/
}
/*.tabbox .con>div{
	display:none;
}
.tabbox .con>div.active{
	display:block;
}*/
.newsSelect{
	position: relative;
    z-index: 1;
    margin: 0px 20% 0 20%;
    /* margin-bottom: 40px; */
    /* padding: 60px 0 40px; */
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
}
.newsSelect li{
	float: left;
	margin: 0 7.6%;
	padding: 3px 0;
	width: 18%;
	cursor: pointer;
}
.line{
	margin: 38px auto 47px;
	width: 60%;
	height: 1px;
	background: #D8D8D8;
}
.con ul{
	width: 100%;
	flex-wrap: wrap;
}
.con ul li{
	float: left;
	margin: 0 2.5% 50px 2.5%;
	padding: 9px;
	width: 30%;
	border: 1px solid #F7FBF9;
	border-bottom: 1px solid #D8D8D8;
	cursor: pointer;
	border-radius: 3px;
}
.con ul li:nth-child(3n){
	margin: 0 0 50px 2.5%;
}
.con ul li:nth-child(3n+1){
	margin: 0 2.5% 50px 0;
}
.con ul li:hover{
	border: 1px solid #017F40;
	background: rgba(1,127,64,0.05);
}
.con ul li:hover .jianjie{
	color: rgba(0,62,58,0.6);
}
.con ul li img{
	width: 100%;
}
.con ul li h3{
	font-size: 15px;
	color: #003E3A;
	line-height: 36px;
	/*text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;*/
}
.jianjie{
	width: 100%;
	font-size: 13px;
	color: #666;
	text-align: justify;
	/*text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    line-height: 18px;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;*/
}
.more{
	margin: 25px 0 25px;
	font-size: 13px;
	color: #666666;
}
.more a{
	color: #666666;
}
/*最后一行左对齐*/
/*.newsContent ul::after{ 
    flex: auto;
    content: "";
}*/
/*.newsContent ul li:last-child:nth-child(3n + 2){
	color: red;
  margin-right: calc((100% -$width)/2);
}*/

/*分页样式*/
.box{
	margin: 0 auto;
	padding-bottom: 80px;
	width: 40%;
}
.box a,.box span{
	/*margin: 0 8px;*/
	padding: 8px 15px;
	border: 1px solid #017F40;
	border-radius: 3px;
	color: #003E3A;
	cursor: pointer;
}
.box span{
	background: rgba(1,127,64,0.1);
}
.box a:hover,.box span:hover{
	background: #017F40;
	color: #fff;
}

@media screen and (max-width: 760px){
	.banner_swiper .banner_icon2{
		width: 180px;
	}
	.banner_swiper .banner_icon3{
		width: 84px;
	}
	div.search{
		display: none;
	}
	.tabbox{
		min-width: 100%;
	}
	.newsSelect{
		font-size: .32rem;
	}
	.newsSelect{
		margin: -20px auto 0;
    	width: 90%;
	}
	.newsSelect li{
		width: 20%;
    	margin: 0 6.65%;
    	font-size: .29rem;
	}
	.line{
		width: 90%;
    	margin: 20px auto 24px;
	}
	.tabbox .con{
		width: 92%;
	}
	.con ul li{
		margin: 0 .5% 10px .5%;
		padding: 3px;
		width: 32%;
	}
	.con ul li:nth-child(3n+1){
		margin: 0 .5% 10px 0;
	}
	.con ul li:nth-child(3n){
		margin: 0 0 10px .5%;
	}
	.con ul li h3{
		font-size: .26rem;
		line-height: .46rem;
	}
	.jianjie{
		font-size: .24rem;
		line-height: .32rem;
	}
	.more{
		margin: 10px 0;
		font-size: .21rem;
	}
	.box{
		width: 90%;
		padding-bottom: 40px;
	}
	.box a, .box span{
		padding: 4px 8px;
		font-size: .22rem;
	}
	/*.con ul li{
		margin: 0 .5% 10px 0;
		width: 49%;
	}
	.con ul li:nth-child(3n+1){
		margin: 0 .5% 10px 0;
	}
	.con ul li:nth-child(3n){
		margin: 0 .5% 10px 0;
	}*/
}